*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;/******for all links*****/
    font-family: 'Barlow', sans-serif;
}

/***************************Body********************************/
body{
    background-color: #2dca4b;
}
/***************************Body********************************/

/************************Navigation Bar**********************/
header{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #14be33;
    background-image: url(../images/hero.svg);
    background-size: cover;
}
header .logo a img{
    border-radius: 50px;
    margin-top: 10px;
    width: 10%;
}
header .logo a img:hover{
    border: 1px solid rgb(182, 37, 34);
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
header nav li{
    list-style: none;
    font-size: small;
}
header nav li a, i{
    color: rgb(102, 17, 17);
}
header nav li a:hover{
    color: rgb(182, 37, 34);
    border-bottom: 1px solid rgb(182, 37, 34);
}
.contact-btn{
    Width: 170px;
    Height: 50px;
    border-radius: 40px;
    border-style: none;
    background-color:rgb(102, 17, 17);
}
.contact-btn:hover{
    background-color: rgb(182, 37, 34);
}
/************************Navigation Bar End**********************/

/***************************Hero section************************/
.hero{
    width: 100vw;
    height: 750px;
    padding-top: 50px;
    background-image: url(../images/hero.svg);
    background-size: cover;
}

/**************main-container Start***********/
.main-container{
    margin: 0px 10px 0 10px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hero-txt{
    width: 640px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 40px;
    font-size: medium;
}
.work-btn{
    Width: 200px;
    Height: 50px;
    border-radius: 40px;
    border-style: none;
    background-color:#625204;
}
.work-btn:hover{
    background-color: #85700b;
}
.work-btn a{
    color: white;
}
.price-list{
    color: rgb(26, 10, 40);
    font-size: 24px;
    font-weight: bold;
}
.price-list:hover{
    color: blue;
}
.img-holder{
    width: 582px;
    height: 300px;
}
.img-holder img{
    width: 582px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
/**************main-container End**************/

/***************************Hero section End************************/

/***************************Details Box Section***********************/
h3{
    margin-bottom: 40px;
    text-align: center;
}
.details-box{
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.our-work, .price-details{
    padding: 10px;
    width: 100vw;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.our-work .boxes{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}
.our-work .boxes div{
    border: 1px solid black;
    border-radius: 10px;
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-work .boxes div figure img{
    padding: 5px;
    width:310px;
    border-radius: 12px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.our-work .btn .btn-learn-more{
    width: 150px;
    height: 50px;
    border-radius: 12px;
    border-style: none;
    background-color:#625204;
}
.our-work .btn .btn-learn-more:hover{
    background-color: #85700b;
}
.our-work .btn .btn-learn-more a{
    color:white;
}
table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 60px;
    text-align: center;
}
/***************************Details Box Section End***********************/


/***************************footer start*********************************/
footer{
    height: 300px;
    background-image: url(../images/hero.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer p{
    text-align: center;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
}
.box,.box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.icons{
    display: flex;
    gap: 15px;
}
/***************************footer End*********************************/
