*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;/******for all links*****/
    font-family: 'Barlow', sans-serif;
}

/***************************Body********************************/
body{
    background-color: #2dca4b;
}
/***************************Body********************************/

/************************Navigation Bar**********************/
header{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /*z-index: 1; /* Added to make sure its above all other elements on the page <3  */
    width: 100vw;
    background-color: #14be33;
    background-image: url(../images/hero.svg);
    background-size: cover;
}
header .logo a img{
    border-radius: 50px;
    margin-top: 10px;
    width: 10%;
}
header .logo a img:hover{
    background-color: rgb(31, 149, 31);
    transition: all 0.3s ease-in-out;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
header nav li{
    list-style: none;
    font-size: small;
}
header nav li a, i{
    color: rgb(102, 17, 17);
}
header nav li a:hover{
    color: rgb(182, 37, 34);
    border-bottom: 1px solid rgb(182, 37, 34);
    transition: all 0.3s ease-in-out;
}
.contact-btn{
    Width: 170px;
    Height: 50px;
    border-radius: 40px;
    border-style: none;
    background-color:rgb(102, 17, 17);
}
header nav li .contact-btn a{
    color:whitesmoke; 
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}
header nav li .contact-btn:hover{
    background-color: rgb(182, 37, 34);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/************************Navigation Bar End**********************/

/***************************Hero section************************/
.hero{
    width: 100vw;
    height: 750px;
    padding-top: 50px;
    background-image: url(../images/hero.svg);
    background-size: cover;
}

/**************main-container Start***********/
.main-container{
    margin: 0 10% 1% 10%;
    max-height: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hero-txt{
    max-width: 640px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 40px;
    font-size: medium;
}
.work-btn{
    Width: 200px;
    Height: 50px;
    border-radius: 40px;
    border-style: none;
    background-color:#625204;
}
.work-btn:hover{
    background-color: #85700b;
    transition: all 0.3s ease-in-out;
}
.work-btn a{
    color: white;
}
.price-list{
    color: rgb(26, 10, 40);
    font-size: 24px;
    font-weight: bold;
}
.price-list:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
}
.holder{
    max-width: 582px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
.holder img{
    max-width: 582px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
/**************main-container End**************/

/***************************Hero section End************************/

/***************************Details Box Section***********************/
h3{
    margin-bottom: 40px;
    text-align: center;
}
.details-box{
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.our-work, .price-details{
    padding: 10px;
    width: 100vw;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.our-work .boxes{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}
.our-work .boxes div{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-work .boxes div figure img{
    padding: 5px;
    max-width: 310px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.our-work .btn .btn-learn-more{
    width: 150px;
    height: 50px;
    border-radius: 12px;
    border-style: none;
    background-color:#625204;
}
.our-work .btn .btn-learn-more:hover{
    background-color: #85700b;
    transition: all 0.3s ease-in-out;
}
.our-work .btn .btn-learn-more a{
    color:white;
}
table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    height: 60px;
    text-align: center;
}
/***************************Details Box Section End***********************/

/***************************Gallery Section styles **********************/
/************ The Background of the Gallery page.  */
.put--me--above--everything {
    z-index: 1;
}
.gallery-txt a {
    text-decoration: none;
    color: white;
}
.gallery-txt a:hover {
    color: rgb(102, 17, 17);
    text-decoration: underline;
    transition: all 0.5s ease-in-out; 
} 
.hero-bg-gallery{
    width: 100vw;
    padding-top: 50px;
    padding-bottom:50px;
    background-image: url(../images/hero.svg);
    background-size: cover;
}
/* The Container for all designs in the gallery */
.gallery-container{
    display: grid;
    grid-template-columns: 2fr 0.5fr repeat(7, 0.3fr) 2fr;
    grid-template-rows: 0.5fr 1fr repeat(4, 0.3fr) 0.5fr;
    gap: 10px;
}
/* The information of the images in this gallery */
.thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
	transition: all 0.5s ease-in-out; 
    box-shadow: 5px 5px 5px rgba(3, 94, 40, 0.995); 
}
/* The hover to zoom effect of the images */
.thumbnail:hover{
    transform: scale(1.5);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}
/* The text part of the gallery */
.gallery-container h1{
    text-align: center;
    grid-area: 2 / 1 / 2 / 2;
}
.gallery-container h2{
    text-align: center;
    grid-area: 3 / 1 / 3 / 2;
}
/* The GRID position of the images inside of the gallery-container. */
.thumbnail:nth-child(3){
    grid-area: 2 / 6 / 3 / 8;
}
.thumbnail:nth-child(4){
    grid-area: 3 / 6 / 4 / 8;
}
.thumbnail:nth-child(5){
    grid-area: 2 / 2 / 4 / 6;
}
.thumbnail:nth-child(6){
    grid-area: 4 / 2 / 6 / 6;
}
.thumbnail:nth-child(7){
    grid-area: 2 / 8 / 3 / 10;
}
.thumbnail:nth-child(8){
    grid-area: 4 / 6 / 5 / 8;
}
.thumbnail:nth-child(9){
    grid-area: 4 / 8 / 5 / 10;
}
.thumbnail:nth-child(10){
    grid-area: 3 / 8 / 4 / 10;
}
.thumbnail:nth-child(11){
    grid-area: 5 / 8 / 6 / 10;
}
.thumbnail:nth-child(12){
    grid-area: 5 / 6 / 6 / 8;
}
/***************************End of Gallery section ***********************/


/***************************Our Team-members***********************/
.our-team{
    padding: 10%;
    max-height: 600px;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.our-team figure{
    width: 400px;
    height: auto;
}
.our-team figure figcaption{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    font-weight: bold;
}
.our-team figure img{
    width:100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
    aspect-ratio: 1/1;
}
/***************************Our Team-members end***********************/


/*******************Contact Us*******************/
 .hero .contact-us{
    margin:5% 20% 0 20%;
    
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.hero .contact-us .form{
    /* border: 1px solid rgb(61, 61, 71); */
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero .contact-us .form .btn{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #625204;
}
.hero .contact-us .form .btn:hover{
    cursor: pointer;
    background-color: #85700b;
    color: bisque;
    transition: 0.3s ease-in-out;
}
.label {
    font-size: 22px;
    font-weight: 700;
}
.pimp-form {
    background-color: #2dca4b;
    border-radius: 15px;
    border: none;
    border-bottom: 5px solid #14be33;
    border-top: 5px solid black;
    outline: 0;
    opacity: 0.5;
    padding: 10px;
}
.pimp-form::placeholder {
    color: black;
    font-size: 18px;
}
.pimp-form:hover {
    opacity: 1;
}
.pimp-form:focus {
    border-bottom: 5px solid black;
    opacity: 1;
}
.text-box{
    resize: none;
}
/*******************Contact Us end*******************/


/***************************footer start*********************************/
footer{
    height: 300px;
    background-image: url(../images/hero.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer p{
    text-align: center;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10px;
}
.box,.box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.icons{
    display: flex;
    gap: 15px;
}
/***************************footer End*********************************/
